:root {
    --cursor-bg-color: #d4d4d4; /* 光标背景色 */
    --cursor-fg-color: #1e1e1e; /* 光标前景色 */

    --terminal-font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
    --terminal-font-size: 14px;
    --terminal-background-color: #1e1e1e;
    --terminal-foreground-color: #d4d4d4;
    --terminal-selection-background: #d4d4d4;
    --terminal-selection-foreground: #1e1e1e;
} 

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--terminal-background-color);
    color: var(--terminal-foreground-color);

    overflow: hidden; /* 防止滚动条出现 */
}

html, body::selection {
    background-color: var(--terminal-selection-background);
    color: var(--terminal-selection-foreground);
}

#terminal-container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    
    cursor: text; /* 提示用户这里可以输入 */
    overflow: hidden; /* 确保缓冲区内容不会溢出 */
}

#terminal-buffer {
    margin: 0;
    /* * white-space: pre; 是核心！
     * 它告诉浏览器完全按照 <pre> 标签中的文本（包括空格和换行）来渲染。
     */
    white-space: pre;
    font-family: var(--terminal-font-family);
    font-size: var(--terminal-font-size);
    line-height: 1.2; /* 行高，可以调整 */
}

.term-cursor {
    background-color: var(--cursor-bg-color);
    color: var(--cursor-fg-color);
    animation: blink 1s steps(2, start) infinite;
    font-family: monospace;
}

#input-handler {
    position: fixed;
    top: -100px;
    left: -100px;
    width: 10px;
    height: 10px;
    opacity: 0;
    border: none;
    outline: none;
    resize: none;
    padding: 0;
}

/* * 光标闪烁动画
 */
@keyframes blink {
    to {
        visibility: hidden;
    }
}

/* Register Fonts */
@font-face {
    font-family: "SF Mono";
    src: local("SF Mono"), url("./fonts/SF-Mono-Regular.otf") format("otf");
}